@charset "UTF-8";

/* ### SKIN - General Styles ###################################################

   This section sets up basic typography and colors for the site; it should
   only define the defaults for elements.
*/

/* ### SKIN - Generic components ###############################################

   Simple, basic components that are reused throughout the site, e.g. forms,
   buttons, notification messages. This should also include skinning of layout
   elements (if required).
*/

/* --- Form elements --------------- */

input.form-text {
    _background-color: #FFF;  /* IE6 */
    _border: 1px solid #DEDEDE;  /* IE6 */
    _color: #666;  /* IE6 */
    _font-size: 138.5%; /* 18px */  /* IE6 */
    _padding: 3px 3px 0 3px;  /* IE6 */
}

input.form-submit {
    _background-color: #919C14;  /* IE6 */
    _background-image: none;  /* IE6 */
    _border: none;  /* IE6 */
    _color: #FFF;  /* IE6 */
    _cursor: pointer;  /* IE6 */
    _font-family: AUdimat, "Trebuchet MS", Arial, Helvetica, sans-serif;  /* IE6 */
    _font-size: 153.9%;  /* 20px */   /* IE6 */
    _font-weight: normal;   /* IE6 */
    _margin-bottom: 0;   /* IE6 */
    _margin-top: 1em;   /* IE6 */
    _padding: 5px 7px 2px 7px;  /* IE6 */
}

label span.form-required {
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/sites/all/themes/forlagene/images/icon_required.png');  /* IE6 */
    _background-image: none;  /* IE6 */
}

/* ### Page structure ##########################################################

   Layout of page elements; this should only define the template and grid,
   not the positioning of specific components.
*/

/* --- Page ------------------------ */

.headLMP /* extends OOCSS/template/head */,
.bodyLMP /* extends OOCSS/template/body */,
.footLMP /* extends OOCSS/template/foot */ {
    _width: 960px;  /* IE 6 */
}

.layoutBottom {
    _height: 70px;  /* IE 6 */
}

.view-listing .views-row {
    zoom: 1;
    *display: inline;  /* IE 6+7 */
    _height: 250px;  /* IE 6 */
}

/* --- Main column ----------------- */

/* --- Side column ----------------- */

/* --- Header ---------------------- */

/* --- Front page ------------------ */

/* ### Page components #########################################################

   Most declarations should go in here; each component is self-contained and
   should organise its internal layout. Look-and-feel should be mostly
   inherited from general styles and generic components
*/

/* --- Coverslide ------------------ */

.ui-coverslide-stack ul li {
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#EEEEEE, strength=2, direction=0)
            progid:DXImageTransform.Microsoft.Shadow(color=#EEEEEE, strength=6, direction=90)
            progid:DXImageTransform.Microsoft.Shadow(color=#EEEEEE, strength=10, direction=180)
            progid:DXImageTransform.Microsoft.Shadow(color=#EEEEEE, strength=4, direction=270);
    _filter: none;  /* IE6 has performance issues with the filters */
    _border: 3px solid #DDD;  /* IE6 has performance issues with the filters */
    zoom: 1;
}

.ui-coverslide-stack ul li.ui-coverslide-stack-70,
.ui-coverslide-stack ul li.ui-coverslide-stack-60,
.ui-coverslide-stack ul li.ui-coverslide-stack-50,
.ui-coverslide-stack ul li.ui-coverslide-stack-40,
.ui-coverslide-stack ul li.ui-coverslide-stack-30,
.ui-coverslide-stack ul li.ui-coverslide-stack-20,
.ui-coverslide-stack ul li.ui-coverslide-stack-10 {
    filter: none;
}

.ui-coverslide-stack ul li.ui-coverslide-stack-70 .image-caption,
.ui-coverslide-stack ul li.ui-coverslide-stack-60 .image-caption,
.ui-coverslide-stack ul li.ui-coverslide-stack-50 .image-caption,
.ui-coverslide-stack ul li.ui-coverslide-stack-40 .image-caption,
.ui-coverslide-stack ul li.ui-coverslide-stack-30 .image-caption,
.ui-coverslide-stack ul li.ui-coverslide-stack-20 .image-caption,
.ui-coverslide-stack ul li.ui-coverslide-stack-10 .image-caption {
    filter: none;
}

/* --- Banner ---------------------- */

/* banner extends mod */

.banner .banner-content {
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#EEEEEE, strength=2, direction=0)
            progid:DXImageTransform.Microsoft.Shadow(color=#EEEEEE, strength=6, direction=90)
            progid:DXImageTransform.Microsoft.Shadow(color=#EEEEEE, strength=10, direction=180)
            progid:DXImageTransform.Microsoft.Shadow(color=#EEEEEE, strength=4, direction=270);
    zoom: 1;
}

.banner .actions {
    _margin-top: 10px;  /* IE6 */
    _position: relative;  /* IE6 */
}

.banner .actions a {
    _zoom: 1;  /* IE6 */
}

/* --- Search box ------------------ */

.searchBox .form-submit {
    display: block;
    font-size: 0;
    _left: -27px;  /* IE6 */
    line-height: 0;
}

/* --- Main navigation tabs -------- */

.navTabs .depth0 {
    display: inline;
}

.navTabs .depth1 li {
    *list-style-type: disc;  /* IE6+7 */
    *margin-left: 1.5em;
}

    /* -- START IE6-only section (since IE6 doesn't understand descendent selectors... Yikes!) */

    .navTabs {
        _zoom: 1;
    }

    .navTabs .depth0 .entry {
        _background: none #EDEDED;
        _border: 5px solid #EDEDED;
        _clear: both;
        _float: left;
        _margin-right: 20px;
    }

    .navTabs .depth1 .entry {
        _background: none;
        _border: 0 !important;
        _clear: none;
        _float: none;
        _margin-right: 0;
    }

    .js .navTabs .depth0 .entry {
        _clear: none;
    }

    .navTabs .depth0 .entry a {
        _color: #255895;
        _display: block;
        _padding: 5px 15px 4px 15px;
    }

    .navTabs .depth1 .entry a {
        _color: #255895;
        _display: inline;
        _padding: 0;
    }

    .navTabs .depth0.selected .entry a {
        _background-color: #FFF;
        _border-bottom: 7px solid #FFFFFF;
        _color: #909C15;
        _font-weight: bold;
        _margin-bottom: -7px;
        _position: relative;
        _text-decoration: none;
        _z-index: 200;
    }

    .navTabs .depth0.selected .depth1 .entry a {
        _background-color: inherit;
        _border-bottom: 0;
        _color: #255895;
        _font-weight: normal;
        _margin-bottom: 0;
        _position: static;
        _text-decoration: none;
        _z-index: auto;
    }

    .navTabs .depth0 .children {
        _background-color: #FFF;
        _clear: right;
        _float: right;
        _margin-left: -100%;
        _margin-top: 2.4em;
        _width: 100%;
    }

    .navTabs .depth1 .children {
        _background-color: none;
        _clear: none;
        _float: none;
        _margin-left: 0;
        _margin-top: 0;
        _width: auto;
    }

    .js .navTabs .depth0 .children {
        _clear: none;
        _display: none;
    }

    .js .navTabs .depth1 .children {
        _clear: both;
        _display: block;
    }

    .js .navTabs .depth1.selected .children {
        _display: block;
    }

    .navTabs .depth0 .children ul {
        _border: 5px solid #EDEDED;
        _overflow: hidden;
        _padding: 20px 0 10px 20px;
        _zoom: 1;
    }

    .navTabs .depth1 .children ul {
        _border: 0;
        _overflow: auto;
        _padding: 0;
    }

    .navTabs .depth0 .selected .entry a {
        _color: #909C15;
        _font-weight: bold;
    }

    .navTabs .depth0 .selected .depth1 .entry a,
    .navTabs .depth0 .selected .depth2 .entry a,
    .navTabs .depth0 .selected .depth3 .entry a,
    .navTabs .depth0 .selected .depth4 .entry a {
        _color: #255895;
        _font-weight: normal;
    }

    .navTabs .depth1 {
        _margin-right: 1.5%;
    }

    /* -- END IE6-only section */


/* --- Pop-up ---------------------- */

.popup {
    _text-align: left;  /* IE6 */
}

.popup .close {
    *width: 4em;  /* IE6+7, see line below though */
    _width: auto;  /* IE6; cancels the above which becomes IE7-only */
}

/* --- Faceted search block -------- */

.faceted_search_current {
    *zoom: 1;  /* IE6+7 */
}

.facetBlock .facetBlock-content {
    _width: 194px;  /* IE6 */
}

/* --- DLR listing pages ----------- */

.view-listing .view-listing-top {
    _zoom: 1;  /* IE6 */
}

/* --- Messages -------------------- */

div.messages.error {
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/icon_error.png");  /* IE 6 */
}

div.messages.warning {
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/icon_warn.png");  /* IE 6 */
}

div.messages.status {
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/icon_info.png");  /* IE 6 */
}

/* --- Tabs ------------------------ */

.ui-tabs {
    _border: 0;  /* IE 6 */
}

.ui-tabs .ui-tabs-panel {
    _border-top: 5px solid #EDEDED;  /* IE 6 */
}

/* --- Nested tabs ----------------- */

.tabs.ui-tabs .tabs.ui-tabs .ui-tabs-nav li {
    _border-left: 0;  /* IE 6 */
}

/* --- Messages -------------------- */

div.messages {
    _zoom: 1;
}

div.messages.error {
    _background-image: none;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/sites/all/themes/forlagene/images/icon_error.png', sizingMethod='crop');  /* IE6 */
}

div.messages.warning {
    _background-image: none;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/sites/all/themes/forlagene/images/icon_warn.png', sizingMethod='crop');  /* IE6 */
}

div.messages.status {
    _background-image: none;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/sites/all/themes/forlagene/images/icon_info.png', sizingMethod='crop');  /* IE6 */
}

/* --- Pop-up ---------------------- */

.popup .close {
    _background-image: none;  /* IE6 */
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/sites/all/themes/forlagene/images/icon_close.png', sizingMethod='crop');  /* IE6 */
}

/* --- Download box ---------------- */

.downloadBox h3 a {
    _height: 48px;  /* IE 6 */
}

/* --- Filtering widget ------------ */

.exposed-widget-filter .label {
    *float: left;  /* IE6+7 */
    *display: inline;
}

.exposed-widget-filter ul,
.exposed-widget-filter ul > li {
    *display: inline;  /* IE7 */
    *float: left;  /* IE7 */
    *zoom: 1;  /* IE7 */
}

.exposed-widget-filter ul.controlList {
    *margin-top: -3px;  /* IE6+7 */
}

.exposed-widget-filter ul.controlList,
.exposed-widget-filter .control {
    _display: inline;  /* IE6 */
    _float: left;  /* IE6 */
    _zoom: 1;  /* IE6 */
}

.exposed-widget-filter .filterTitle {
    *background-image: url("../images/icon_down.png");
    *background-position: 100% 50%;
    *background-repeat: no-repeat;
    *display: inline;  /* IE6+7 */
    *float: left;  /* IE6+7 */
    *zoom: 1;  /* IE6+7 */
}