@charset "UTF-8";


/* -------------------------------------------------------------------------- */


/* YUI RESET */
html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}

/* YUI FONTS */
body{font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}select,input,button,textarea{font:99% arial,helvetica,clean,sans-serif;}table{font-size:inherit;font:100%;}pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}

/* OOCSS TEMPLATE */
body{_text-align:center;}.main{display:table-cell;*display:block;width:auto;}.body,.main{*zoom:1;}.body:after,.main:after{clear:both;display:block;visibility:hidden;overflow:hidden;height:0 !important;line-height:0;font-size:xx-large;content:" x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ";}.page{margin:0 auto;width:950px;_text-align:left;}.oldSchool{width:750px;}.gs960{width:960px;}.liquid{width:auto;margin:0;}.leftCol{float:left;width:250px;_margin-right:-3px;}.rightCol{float:right;width:300px;_margin-left:-3px;}.gMail{width:160px;}.gCal{width:180px;}.yahoo{width:240px;}.myYahoo{width:300px;}

/* OOCSS GRIDS */
.line:after,.lastUnit:after{clear:both;display:block;visibility:hidden;overflow:hidden;height:0 !important;line-height:0;font-size:xx-large;content:" x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ";}.line{*zoom:1;}.unit{float:left;}.size1of1{float:none;}.size1of2{width:50%;}.size1of3{width:33.33333%;}.size2of3{width:66.66666%;}.size1of4{width:25%;}.size3of4{width:75%;}.size1of5{width:20%;}.size2of5{width:40%;}.size3of5{width:60%;}.size4of5{width:80%;}.lastUnit{display:table-cell;float:none;width:auto;*display:block;*zoom:1;_position:relative;_left:-3px;_margin-right:-3px;}

/* BASE */
.mod,.mod .hd,.mod .bd,.mod .ft{position:relative;}
.navList{position:relative;overflow:hidden;}
.navList dt,.navList dd,.navList li{float:left;list-style:none;}

/* Util */
.accessibilityHidden{left:-5000px;position:absolute;top:-5000px;}
.hidden{display:none;}


/* -------------------------------------------------------------------------- */


/* ### SKIN - General Styles ###################################################

   This section sets up basic typography and colors for the site; it should
   only define the defaults for elements.
*/

/* --- Custom fonts ---------------- */

 /* AUdimat font from: http://www.smeltery.net/fonts/audimat */

@font-face {
    font-family: "AUdimat";
    src: url("../fonts/AUdimat-Regular.eot");
    src:
        local("AUdimat"),
        local("AUdimat Regular"),
        local("AUdimat-Regular"),
        url("../fonts/AUdimat-Regular.otf") format("opentype");
}

@font-face {
    font-family: "AUdimat";
    font-style: italic;
    src: url("../fonts/AUdimat-Italic.eot");
    src:
        local("AUdimat Italic"),
        local("AUdimat-Italic"),
        url("../fonts/AUdimat-Italic.otf") format("opentype");
}

@font-face {
    font-family: "AUdimat";
    font-weight: bold;
    src: url("../fonts/AUdimat-Bold.eot");
    src:
        local("AUdimat Bold"),
        local("AUdimat-Bold"),
        url("../fonts/AUdimat-Bold.otf") format("opentype");
}

@font-face {
    font-family: "AUdimat";
    font-style: italic;
    font-weight: bold;
    src: url("../fonts/AUdimat-BoldItalic.otf");
    src:
        local("AUdimat Bold Italic"),
        local("AUdimat-BoldItalic"),
        url("../fonts/AUdimat-BoldItalic.otf") format("opentype");
}

/* --- Body ------------------------ */

html {
    background-color: #FFF;
    color: #444;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* --- Headings -------------------- */

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: AUdimat, "Trebuchet MS", Arial, Helvetica, sans-serif;
}

h1, .h1 {
    color: #AC175C;
    font-size: 346.5%; /* 45px */
    font-weight: bold;
    text-transform: uppercase;
}

h2, .h2 {
    color: #000;
    font-size: 197%; /* 26px */
}

h3, .h3 {
    color: #909C15;
    font-size: 197%; /* 26px */
    font-weight: bold;
}

h4, .h4 {
    color: #AC175C;
    font-size: 197%; /* 26px */
}

h5, .h5 {
}

.contentTitle /* extends h2 or .h2 */ {
    font-size: 278.5%; /* 36px */
    font-weight: bold;

    margin-bottom: 10px;
    margin-top: 15px;
}

/* --- Inline styles --------------- */

em, i, cite {
    font-style: italic;
}

b, strong {
    font-weight: bold;
}

/* --- Quotes ---------------------- */

q:before {
    content: "“";
}

q:after {
    content: "”";
}

q q:before {
    content: "‘";
}

q q:after {
    content: "’";
}

/* --- Body content blocks --------- */


.bodyText p,
.bodyText ul,
.bodyText ol,
.bodyText dl,
.bodyText pre,
.bodyText address,
.bodyText table,
.bodyText form {
    margin-bottom: 0.75em;
}

.bodyText p {
    font-size: 108%;  /* 14px */
    line-height: 1.45;  /* 20px */
}

.bodyText blockquote {
    margin-bottom: 1.5em;
    padding: 0 3em;
}

/* --- Lists ----------------------- */

/* dataList extends navList */

.dataList {
    overflow: hidden;
}
.dataList dt {
    clear: left;
    margin-right: 0.25em;
    width: 100px;
}

.dataList dt,
.dataList dd {
    float: left;
    zoom: 1;
}

.dataList dd {
    width: 205px;
}

.bodyText ol,
.bodyText ul {
    line-height: 1.5;
    padding-left: 1.5em;
}

.bodyText ol li {
    list-style: decimal;
}

.bodyText ul li {
    list-style: disc;
}

.bodyText ol li,
.bodyText ul li {
    font-size: 93%;  /* 12px */
    margin-bottom: 0.5em;
}

.bodyText ol li li,
.bodyText ul li li {
    font-size: 100%;  /* reset to 12px */
}

.bodyText dl {
    font-size: 108%;  /* 16px */
}

.bodyText dl dt {
    font-weight: bold;
    margin-top: 1em;
}

.bodyText dl dd {
    padding-left: 1.5em;
}

/* --- Tables ---------------------- */

.bodyText th {
    font-weight: bold;
}

/* --- Links ----------------------- */

a,
button.linkButton {
    color: #255895;
    text-decoration: none;
}

a:hover,
button.linkButton:hover,
a:focus,
button.linkButton:focus {
    color: #AC175C;
    outline: none;
    text-decoration: underline;
}

a:active,
button.linkButton:active {
    color: #909C15;
    text-decoration: underline;
}

button.linkButton {
    background: none;
    border: 0;
    cursor: pointer;
    display: inline-block;
    padding: 0;
}

button.linkButton::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* ### SKIN - Generic components ###############################################

   Simple, basic components that are reused throughout the site, e.g. forms,
   buttons, notification messages. This should also include skinning of layout
   elements (if required).
*/

/* --- Clickable blocks (JS) ------- */

.clickBlock {
    cursor: pointer;
}

.clickBlock:hover h1 a,
.clickBlock:hover h2 a,
.clickBlock:hover h3 a,
.clickBlock:hover h4 a,
.clickBlock:hover h5 a,
.clickBlock:hover h6 a {
    border-bottom-width: 1px;
}

/* --- Forms ----------------------- */

label {
    display: block;
    position: relative;
    margin-top: 1em;
}

label span {
    display: block;
    font-size: 85%;  /* 11px */
}

label span.form-required {
    background-image: url("../images/icon_required.png");
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    left: -7px;
    position: relative;
    text-indent: -9999px;
    top: -7px;
    width: 16px;
}

/* --- Form elements --------------- */

select,
input[type="text"],
input.text,
input.form-text,
textarea {
    background-color: #FFF;
    border-color: #DEDEDE;
    border-style: solid;
    border-width: 1px;
    color: #666;
    font-size: 138.5%; /* 18px */
    padding: 3px;

    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;

    box-shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.1) inset
}

select {
    font-size: 116%; /* 15px */
    font-weight: bold;
    min-width: 300px;
    padding: 6px 1px 1px 6px;
    position: relative;
}

select:focus,
input[type="text"]:focus,
input.text:focus,
input.form-text:focus,
textarea:focus {
    border-color: #919C14;
}

option {
    margin: 4px 0;
    padding: 0 4px;
}

button[class="submitButton"],  /* IE treats all buttons as type=submit */
input[type="submit"],
input[type="reset"],
input[type="button"] {
    background-color: #919C14;
    border: none;
    color: #FFF;
    cursor: pointer;
    font-family: AUdimat, "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 153.9%;  /* 20px */
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 1em;
    min-height: 0;
    padding: 5px 13px 2px 13px;

    border-radius: 0;  /* Disabled due to Opera 10.53 bug (DSK-293167). There is no public bug tracking for Opera, so will need to check when fixed. With a border radius the button background becomes transparent! See: http://blog.attrakt.se/2010/04/annoying-opera-css3-bug-input-border.html */
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
    outline: none;
    text-decoration: underline;
}

fieldset.radioGroup label {
    float: left;
}

fieldset.radioGroup label span {
    float: left;
}

/* ### Page structure ##########################################################

   Layout of page elements; this should only define the template and grid,
   not the positioning of specific components.
*/

/* --- Page ------------------------ */

.headLMP /* extends OOCSS/template/head */,
.bodyLMP /* extends OOCSS/template/body */,
.footLMP /* extends OOCSS/template/foot */ {
    margin: 0 auto;
    max-width: 960px;
    overflow: hidden;
    position: relative;
}

.bodyLMP {
    margin-bottom: 15px;
    min-height: 530px;
}

.headLMP {
    margin-bottom: 15px;
}

.layoutTop {
    background-image: url("../images/bg_top.png");
    background-position: 50% 20px;
}

.layoutBottom {
    background-color: #B1185F;
    min-height: 70px;
}

.mainContent .lastUnit .colMargins {
    margin-left: 12px;
}

.mainContent .asideInfo {
    margin-bottom: 20px;
}

.mainContent .tabs.ui-tabs {
    margin-top: 15px;
}

.mainContent .tabs.ui-tabs .tabs.ui-tabs {
    margin-top: 0;
}

.mainContent .bodyText {
    margin-bottom: 30px;
}

/* --- DLR listing pages ----------- */

.view-listing .item-list {
    overflow: hidden;
}

.view-listing .item-list .pager {
    float: right;
}

.view-listing .views-exposed-widgets {
    overflow: hidden;
}

.view-listing .exposed-widget-filter {
    padding-top: 1px;
}

.view-listing .views-exposed-widget {
    float: left;
}

.view-listing .sort_orderWidget {
    display: none;
}

.view-listing .form-submit {
    display: none;
}

.view-listing .view-listing-top,
.view-listing .view-listing-bottom {
    overflow: hidden;
}

.view-listing .view-listing-top {
    margin: 20px 0;
}

.view-listing .view-listing-top h3 /* nasty */ {
    margin-bottom: 10px;
}

.view-listing .view-listing-bottom {
    margin: 15px 0 70px 0;
}

.view-listing .view-listing-top .view-filters,
.view-listing .view-listing-bottom .view-filters {
    float: left;
}

.view-listing .view-listing-top .items_per_pageWidget {
    display: none;
}

.view-listing .view-listing-bottom .sort_byWidget {
    display: none;
}

.view-listing .view-content {
    clear: both;
}

/* --- Header ---------------------- */

.head .logo {
    margin-top: 53px;
}

.head .mainNav {
    float: left;
    margin-top: -2px;
}

.head .searchBox {
    float: right;
}

.head .navigation {
    clear: both;
    overflow: hidden;
}

.head .navigation .grepimporter {
    margin-top: 14px;
}

.head .navigation .facetBlock {
    float: left;
    margin-left: 20px;
    margin-top: 49px;
    overflow: hidden;
    width: 225px;
}

.head .navigation .facetBlock.first {
    margin-left: 0;
}

.head .navigation #block-faceted_search_ui-1_current {
    margin-top: 10px;
}

.head .navigation #block-faceted_search_ui-1_guided {
    margin-top: -41px;
}

/* --- Footer ---------------------- */

.foot .courtesyNav {
    margin-top: 10px;
}

/* --- Front page ------------------ */

.main .welcome {
    margin-left: 10px;
    margin-top: 110px;
}

.main .newsArea {
    margin-bottom: 100px;
    margin-top: 45px;
}

/* --- DLR page -------------------- */

.main .banner {
  margin-bottom: 45px;
}

/* ### Page components #########################################################

   Most declarations should go in here; each component is self-contained and
   should organise its internal layout. Look-and-feel should be mostly
   inherited from general styles and generic components
*/

/* --- Logo ------------------------ */

.logo h1 {
    line-height: 1;
    height: 60px;
}

.logo a {
    color: #AC175C;
}

/* --- Main navigation ------------- */

.mainNav-content {
    background-color: #FFF;
}

.mainNav li {
    margin-right: 55px;
    padding-top: 3px;
}

.mainNav li:last-child {
    margin-right: 25px;
}

.mainNav li a {
    font-family: AUdimat, "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 197%; /* 26px */
    font-weight: bold;
}

.mainNav .active-trail a {
    color: #909C15;
}

/* --- Search box ------------------ */

.searchBox-content {
    background-color: #FFF;
    padding-left: 29px;
    position: relative;
    overflow: hidden;
}

.searchBox .faceted-search-more,
.searchBox #edit-refine-wrapper {
    display: none;
}

.searchBox .form-item {
    float: left;
}

.searchBox .form-item input {
    width: 302px;
}

.searchBox .form-submit {
    background-image: url("../images/icon_search.png");
    background-repeat: no-repeat;
    border: 0;
    cursor: pointer;
    height: 23px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 2px;
    text-indent: -9999px;
    top: 3px;
    width: 25px;
}

/* --- Welcome message ------------- */

/* welcome extends mod */

.welcome .mod-hd {
    margin-bottom: 10px;
}

.welcome .mod-bd {
    font-family: AUdimat, "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 153.9%; /* 20px */
}

/* --- DLR list items -------------- */

/* dlrItem extends mod */

.dlrItem .mod-hd img {
    float: left;
}

.dlrItem .mod-hd h4 {
    margin-left: 65px;
}

.dlrItem .mod-hd a {
    color: #AC175C;
    padding-bottom: 5px;  /* ensure multi-line links are clickable between lines */
}

.dlrItem .mod-bd,
.dlrItem .mod-ft {
    margin-left: 65px;
    max-height: 96px;
    overflow: hidden;
}

.dlrItem .mod-ft li {
    margin-right: 0.5em;
}

/* --- Coverslide ------------------ */

.ui-coverslide {
    overflow: hidden;
    margin: 0 auto;
    margin-top: 5px;
}

.ui-coverslide ul {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 350px;
    display: block;
}

.ui-coverslide ul li {
    float: left;
    overflow: hidden;
}

.ui-coverslide-stack {
    background: transparent;
    width: 640px;
    height: 323px;
    position: relative;
    overflow: hidden;
}

.ui-coverslide-stack ul {
    position: relative;
    margin-left: -1px;
    margin-top: 10px;
}

.ui-coverslide-stack ul li {
    border: 5px solid #FFF;
    background: #fff;
    width: 184px;
    height: 250px;
    position: absolute;
    top: -1000px;
    left: -1000px;
    opacity: 1 !important;
    margin: 0 !important;

    box-shadow: 2px 2px 14px -2px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 2px 2px 14px -2px rgba(0, 0, 0, 0.23);
    -webkit-box-shadow: 2px 2px 14px -2px rgba(0, 0, 0, 0.23);
}

.ui-coverslide-stack ul li .image-caption {
    background-color: #FFF;
    color: #000;
    left: 0;
    height: 75px;
    overflow: hidden;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 200px;
}

.ui-coverslide-stack ul li .image-caption p {
    overflow: hidden;
    max-height: 50px;
}

.ui-coverslide-stack .image-caption h3 {
    font-weight: normal;
    margin-bottom: 4px;
}

.ui-coverslide-stack .image-caption h3 a {
    color: #AC175C;
}

.ui-coverslide-stack ul li.ui-coverslide-stack-active {
    left: 35px;
    height: 295px;
    top: 0px;
    width: 560px;
    z-index: 100;
}

.ui-coverslide-stack ul li.ui-coverslide-stack-90 {
    cursor: pointer;
    height: 275px;
    top: 13px;
    width: 504px;
    z-index: 9;
}

.ui-coverslide-stack ul li.ui-coverslide-stack-80 {
    cursor: pointer;
    height: 251px;
    top: 25px;
    width: 454px;
    z-index: 8;
}

.ui-coverslide-stack ul li.ui-coverslide-stack-70,
.ui-coverslide-stack ul li.ui-coverslide-stack-60,
.ui-coverslide-stack ul li.ui-coverslide-stack-50,
.ui-coverslide-stack ul li.ui-coverslide-stack-40,
.ui-coverslide-stack ul li.ui-coverslide-stack-30,
.ui-coverslide-stack ul li.ui-coverslide-stack-20,
.ui-coverslide-stack ul li.ui-coverslide-stack-10 {
    cursor: pointer;
    height: 251px;
    top: 25px;
    width: 454px;
    z-index: 7;
}

.ui-coverslide-stack ul li.ui-coverslide-stack-90-l {
    left: 15px;
}

.ui-coverslide-stack ul li.ui-coverslide-stack-90-r {
    left: 113px;
}

.ui-coverslide-stack ul li.ui-coverslide-stack-80-l,
.ui-coverslide-stack ul li.ui-coverslide-stack-70-l,
.ui-coverslide-stack ul li.ui-coverslide-stack-60-l,
.ui-coverslide-stack ul li.ui-coverslide-stack-50-l,
.ui-coverslide-stack ul li.ui-coverslide-stack-40-l,
.ui-coverslide-stack ul li.ui-coverslide-stack-30-l,
.ui-coverslide-stack ul li.ui-coverslide-stack-20-l,
.ui-coverslide-stack ul li.ui-coverslide-stack-10-l {
    left: 4px;
}

.ui-coverslide-stack ul li.ui-coverslide-stack-80-r,
.ui-coverslide-stack ul li.ui-coverslide-stack-70-r,
.ui-coverslide-stack ul li.ui-coverslide-stack-60-r,
.ui-coverslide-stack ul li.ui-coverslide-stack-50-r,
.ui-coverslide-stack ul li.ui-coverslide-stack-40-r,
.ui-coverslide-stack ul li.ui-coverslide-stack-30-r,
.ui-coverslide-stack ul li.ui-coverslide-stack-20-r,
.ui-coverslide-stack ul li.ui-coverslide-stack-10-r {
    left: 172px;
}

.ui-coverslide-stack ul li.ui-coverslide-stack-70 {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.ui-coverslide-stack ul li.ui-coverslide-stack-60,
.ui-coverslide-stack ul li.ui-coverslide-stack-50,
.ui-coverslide-stack ul li.ui-coverslide-stack-40,
.ui-coverslide-stack ul li.ui-coverslide-stack-30,
.ui-coverslide-stack ul li.ui-coverslide-stack-20,
.ui-coverslide-stack ul li.ui-coverslide-stack-10 {
    visibility: hidden;
}

/* --- News area ------------------- */

/* newsArea extends mod */

.newsArea .newsArea-content > .mod-hd {
    margin-bottom: 20px;
}

.newsArea .colMargins {
    margin-left: 10px;
    margin-right: 10px;
}

.newsArea .firstUnit .colMargins {
    margin-left: 0;
    margin-right: 10px;
}

.newsArea .lastUnit .colMargins {
    margin-left: 10px;
    margin-right: 0;
}

/* --- Banner ---------------------- */

/* banner extends mod */

.banner-content {
    background-color: #FFF;
    border: 8px solid #FFF;
    margin: 6px 8px 10px 6px;
    position: relative;

    box-shadow: 2px 2px 14px -2px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 2px 2px 14px -2px rgba(0, 0, 0, 0.23);
    -webkit-box-shadow: 2px 2px 14px -2px rgba(0, 0, 0, 0.23);
}

.banner .firstUnit .colMargins {
    height: 318px;
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;
    position: relative;
    width: 620px;
}

.banner .lastUnit .colMargins {
    margin-left: 19px;
    margin-right: 0;
}

.banner img {
    display: block;
}

.banner .dataList {
    margin-top: 10px;
}

.banner .dataList dt {
    width: 80px;
}

.banner .dataList dd {
    width: 200px;
}

.banner .dataList dt,
.banner .dataList dd {
    font-size: 93%;  /* 12px */
    margin-bottom: 6px;
}

.banner .actions {
    bottom: 0;
    overflow: hidden;
    position: absolute;
    width: 291px;
}

.banner .actions li {
    display: inline-block;
}

.banner .actions .action {
    background-image: url("../images/icon_link.png");
    background-repeat: no-repeat;
    display: inline-block;
    font-weight: bold;
    margin-bottom: 3px;
    padding-bottom: 6px;
    padding-left: 28px;
    padding-top: 2px;
}

.banner .actions a.actionHelp {
    font-size: 85%;  /* 11px */
    margin-left: 10px;
}

.banner .actions li.mainAction {
    margin: 10px 10px 1px 0;
    position: relative;
    top: 1px;
}

.banner .actions li.mainAction a {
    background-color: #919C14;
    background-image: none;
    color: #FFF;
    font-family: AUdimat, "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 131%;  /* 17px */
    font-weight: bold;
    margin-bottom: 0;
    min-height: 0;
    padding: 4px 13px 2px 13px;

    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

/* --- Tabs ------------------------ */

.tabs.ui-tabs {
    background: none;
    border: 0;
    padding: 0;
}

.tabs.ui-tabs .ui-tabs-nav {
    background: none;
    border: 0;
    padding: 0;
    position: relative;
    z-index: 100;
}

.tabs.ui-tabs .ui-tabs-nav li {
    background: none #EDEDED;
    border: 5px solid #EDEDED;
    margin-right: 5px;
}

.tabs.ui-tabs .ui-corner-top {
    border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
}

.tabs.ui-tabs .ui-tabs-nav a {
    color: #255895;
    font-size: 108%;  /* 14px */
    padding: 5px 15px 4px 15px;
}

.tabs.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
    background: none;
}

.tabs.ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
    border-bottom: 5px solid #FFF;
    color: #909C15;
    font-weight: bold;
    margin-bottom: -5px;
    position: relative;
    z-index: 200;
}

.tabs.ui-tabs .ui-tabs-panel {
    border-top: 5px solid #EDEDED;
    padding: 10px 0 0 0;
}

/* --- Nested tabs ----------------- */

.tabs.ui-tabs .tabs.ui-tabs .ui-tabs-nav li {
    background: none;
    border: 0;
    border-left: 1px solid #255895;
    margin: 0;
}

.tabs.ui-tabs .tabs.ui-tabs .ui-tabs-nav li:first-child {
    border-left: 0;
}

.tabs.ui-tabs .tabs.ui-tabs .ui-tabs-nav li a {
    font-size: 100%;  /* 13px */
    padding: 0 15px;
}

.tabs.ui-tabs .tabs.ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
    border-bottom: 0;
    margin-bottom: 0;
}

.tabs.ui-tabs .tabs.ui-tabs .ui-tabs-panel {
    border-top: 0;
    padding: 10px 0 0 0;
}

/* --- Main navigation tabs -------- */

/* NOTE: This should be merged with ".tabs" since it shares the same visual style; but that requires removing
         the JQuery tabs approach used in .tabs */

.navTabs {
    background-color: #FFF;
    overflow: hidden;
}

.navTabs .depth0 {
    display: block;
}

.navTabs .depth0 > .entry {
    background: none #EDEDED;
    border: 5px solid #EDEDED;
    clear: both;
    float: left;
    margin-right: 20px;
}

.js .navTabs .depth0 > .entry {
    clear: none;
}

.navTabs .depth0 > .entry a {
    color: #255895;
    display: block;
    padding: 5px 15px 5px 15px;
}

.navTabs .depth0.selected > .entry a {
    background-color: #FFF;
    border-bottom: 6px solid #FFFFFF;
    color: #909C15;
    font-weight: bold;
    margin-bottom: -6px;
    position: relative;
    text-decoration: none;
    z-index: 200;
}

.navTabs .depth0 > .children {
    background-color: #FFF;
    clear: right;
    float: right    ;
    margin-left: -100%;
    margin-top: 2.4em;
    width: 100%;
}

.js .navTabs .depth0 > .children {
    clear: none;
    display: none;
}

.js .navTabs .depth0.selected > .children {
    display: block;
}

.navTabs .depth0 > .children > ul {
    border: 5px solid #EDEDED;
    overflow: hidden;
    padding: 20px 0 10px 20px;
}

.navTabs .depth1 {
    float: left;
    margin-bottom: 10px;
    margin-right: 3%;
    width: 30%;
}

.navTabs .depth1 li {
    margin-top: .5em;
    margin-left: 1em;
}

.navTabs .depth1 li .entry:before {
    content: "> ";
}

.navTabs .depth0 .selected > .entry a {
    color: #909C15;
    font-weight: bold;
}

.navTabs .counter {
    font-size: 77%;  /* 10px */
}

.navTabs .depth0 > .childrenLP > ul {
    padding-right: 240px;
}

.navTabs .gjennomegaendeLps {
    background-color: #EDEDED;
    float: right;
    margin-right: -220px;
    margin-bottom: 10px;
    padding: 10px;
    width: 206px;
}

.navTabs .gjennomegaendeLps p {
    border-bottom: 1px solid #FFF;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

/* --- Pager ----------------------- */

.pager {
    overflow: hidden;
}

.pager li {
    float: left;
}

.pager li a {
    display: block;
    padding: 2px 6px 1px 6px;
}

.pager .pager-first,
.pager .pager-last {
    display: none;
}

.pager .pager-current  {
    background-color: #909C15;
    color: #FFF;
    font-weight: bold;
    padding: 2px 6px 1px 6px;

    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

/* --- Items per page -------------- */

/* items_per_pageWidget extends mod */

.items_per_pageWidget .label {
    float: left;
    margin-right: 6px;
}

.items_per_pageWidget .linkButton {
    display: block;
    float: left;
    padding: 2px 6px 1px 6px;
}

.items_per_pageWidget .linkButton.selected {
    background-color: #909C15;
    color: #FFF;
    font-weight: bold;

    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

/* --- Sort by --------------------- */

/* sort_byWidget extends mod */

.sort_byWidget .label {
    float: left;
    margin-right: 6px;
    padding: 1px 0;
}

.sort_byWidget .linkButton {
    border-left: 1px solid #255895;
    display: block;
    float: left;
    padding: 1px 10px 1px 10px;
}

.sort_byWidget .linkButton.first {
    border-left: none;
}

.sort_byWidget .linkButton.selected {
    color: #919C14;
    font-weight: bold;
}

/* --- DLR list item --------------- */

.view-listing .views-row {
    display: -moz-inline-stack;
    display: inline-block;
    margin: 5px 5px 20px 5px;
    min-height: 150px;
    vertical-align: top;
    width: 307px;
}

/* --- Aside info blocks (sidabar) - */

/* asideInfo extends mod */

.asideInfo .mod-bd img {
    float: left;
    margin-right: 10px;
}

/* --- Admin block regions --------- */

.block-region {
    border: 2px dashed #AAA;
    color: #909C15;
    font-size: 197%; /* 26px */
    font-weight: bold;
    padding: 5px;
    margin: 5px;
    text-align: center;
}

/* --- Faceted search block -------- */

/* facetBlock extends mod */

.facetBlock-content {
    background-color: #FFF;
    border: 5px solid #EDEDED;
    min-height: 147px;
    overflow: hidden;
    padding: 10px 10px 5px 10px;
    position: relative;
}

.facetBlock p {
    font-weight: bold;
    margin-bottom: 5px;
}

.facetBlock li {
    margin-bottom: 5px;
}

.facetBlock li a {
    position: relative;
    white-space: nowrap;
}

.facetBlock .faceted-search-count {
    background-color: #FFF;
    right: 0;
    position: absolute;
    padding: 0 10px 0 5px;
}

/* --- Faceted search - current ---- */

.faceted_search_current h3 {
    display: inline;
    margin-right: 0.33em;
}

.faceted_search_current .h3.currentlySelected {
    color: #255895;
}

.faceted_search_current a.remove {
    background-color: #DDD;
    color: #333;
    font-size: 116%;  /* 16px */
    margin-left: 5px;
    padding: 0 4px;
    vertical-align: super;

    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.faceted_search_current a.remove:focus,
.faceted_search_current a.remove:hover {
    background-color: #D11;
    color: #FFF;
    text-decoration: none;
}

/* --- Pop-up ---------------------- */

.popup {
    background-color: #FFF;
    border: 10px solid #B1185F;
    padding: 20px 20px 10px 20px;
    width: 750px;

    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
}

.popup .close {
    background-image: url("../images/icon_close.png");
    background-repeat: no-repeat;
    bottom: 20px;
    padding-left: 20px;
    position: absolute;
    right: 20px;
}

/* --- Download box ---------------- */

/* downloadBox extends mod */

.downloadBox h3 {
    border: 1px solid #AAA;
    margin-bottom: 1em;

    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

    box-shadow: 0.05em 0.15em 0.5em 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0.05em 0.15em 0.5em 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0.05em 0.15em 0.5em 0 rgba(0, 0, 0, 0.15);
}

.downloadBox h3 a {
    background-color: #EEE;
    background-image: url("../images/icon_download.png");
    background-position: 15px 10px;
    background-repeat: no-repeat;
    border: 1px solid #DDD;
    padding: 20px 10px 0 78px;
    display: block;
    min-height: 48px;

    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 -1em 1em -1em  rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 -1em 1em -1em  rgba(0, 0, 0, 0.2) inset;
    -webkit-box-shadow: 0 -1em 1em -1em  rgba(0, 0, 0, 0.2) inset;
}

.downloadBox h3 a:hover,
.downloadBox h3 a:focus {
    background-color: #EEF;
    border: 1px solid #888;
}


/* --- Courtesy nav ---------------- */

/* courtesyNav extends navList */

.courtesyNav li {
    margin-right: 2em;
}

.courtesyNav a,
.courtesyNav a:hover {
    color: #FFF;
}

/* --- Admin menu ------------------ */

#admin-menu {
    display: none;
}

/* --- "Tips en venn" form --------- */

#print-mail-form {
    margin-bottom: 10px;
}

/* --- Messages -------------------- */

/* "div" selector used for IE6 compatibility */

div.messages {
    background-color: #B1185F;
    background-position: 8px 8px;
    background-repeat: no-repeat;
    padding: 8px 8px 8px 28px;
    color: #FFF;
    margin: 0.5em 0;

    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

div.messages.error {
    background-image: url("../images/icon_error.png");
}

div.messages.warning {
    background-image: url("../images/icon_warn.png");
}

div.messages.status {
    background-image: url("../images/icon_info.png");
}

/* --- Icon links ------------------ */

/* TODO: should consolidate this with other styles above and use a sprite image */

.iconLink {
    background-repeat: no-repeat;
    background-position: 100% 0;
    padding-right: 18px;
}

.iconLinkFeed /* extends iconLink */ {
    background-image: url("../images/icon_feed.png");
}

/* --- "Filter by" controls -------- */

.filterBy /* extends mod */ {
    position: static;
}

.filterBy-content {
    background-color: #FFF;
    border: 5px solid #EDEDED;
}

.js .filterBy-content {
    display: none;
    position: absolute;
    z-index: 300;

    -moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}

.filterBy .mod-bd {
    height: 100px;
    min-width: 200px;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}

.js .filterBy .mod-bd {
    height: 215px;
    max-width: 400px;
    position: relative;  /* For the benefit of IE6+7 */
}

.filterBy .mod-ft {
    background-color: #EDEDED;
    padding: 10px 5px 5px 5px;
    text-align: right;
}

.filterBy .mod-ft button {
    margin-top: 0;
}

.filterBy label {
    margin-top: 0;
    padding-left: 2em;
    text-indent: -2em;
}

.filterBy li li {
    padding-left: 20px;
}

/* --- Filtering widget ------------ */

/* exposed-widget-filter extends views-exposed-widget */

.exposed-widget-filter .label {
    display: inline;
}

.exposed-widget-filter ul {
   margin-right: 10px;
}

.exposed-widget-filter ul,
.exposed-widget-filter ul > li {
    display: inline-block;
}

.exposed-widget-filter .filterTitle {
    display: inline-block;
    padding: 1px 5px;
}

.exposed-widget-filter .filterTitle.active {
    background-color: #909C15;
    color: #FFF;

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.exposed-widget-filter .filterTitle:after {
    content: " \25BC";  /* down arrow */
}

.exposed-widget-filter .filterTitle.open:after {
    content: " \25B2";  /* up arrow */
}
